@using WebClient.Services
@using Microsoft.AspNetCore.Http
@{
    var role = Context.Request.Cookies["role"];
    var id = Context.Request.Cookies["id"];
}
@inject IAccountService AccountService
@if (this.Context.Session.GetInt32("Is logged") == 1)
{
    @if (role == "2")
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Managment <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/Shop/index">My Shop</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/Account/LogOut">Log Out</a></li>
            </ul>
        </li>
    }
    @if (role == "3")
    {
        <li>
            <a href="/shopping-cart/">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> My Shopping Card
                <span class="badge">@AccountService.Quantity</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Managment <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/Account/MyAccount">My Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/Account/LogOut">Log Out</a></li>
            </ul>
        </li>
    }
}
else
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Managment <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/Account/SignUp">Signup</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/Account/LoginView">Signin</a></li>
        </ul>
    </li>
}