@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
    IEnumerable<Claim> claims = (IEnumerable<Claim>)ViewData["claims"];
}

@foreach (var claim in claims)
{
    <div class="success alert-success" role="alert">
        <p>@claim</p>
    </div>
}
