@model WebClient.Models.CustomerModel
@{
    ViewData["Title"] = "RegisterCustomerView";
    var errmsg = ViewData["ErrorMessage"];
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        @if (errmsg != null)
        {
            <div class="alert alert-danger">
                <p>@errmsg</p>
            </div>
        }

        <form asp-controller="Account" asp-action="RegisterCustomerAsync" method="post">
            <div class="form-group">
                <label for="Name">Your Name</label>
                <input type="text" name="Name" id="Name" class="form-control">
            </div>
            <div class="form-group">
                <label for="Surname">Your Surname</label>
                <input type="text" name="Surname" id="Surname" class="form-control">
            </div>
            <div class="form-group">
                <label for="Login">Choose Login for your account</label>
                <input type="text" name="Login" id="Login" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="">
            <button type="submit" class="btn btn-primary signup">Sign Up</button>
        </form>
    </div>
</div>

<script>
    var name = $("input#Name").val();
    var surname = $("input#Surname").val();
    var login = $("input#Login").val();
    var email = $("input#Email").val();
    var password = $("input#Password").val();
    $('button').hasClass("signup").on('click', function () {
            $.ajax
                ({
                    type: "POST",
                    dataType: "Json",
                    url: '@Url.Action("RegisterCustomerAsync", "Account")',
                    async: false,
                    data: { name: name, surname: surname, login: login, email: email, password: password },
                    success: function (data) {

                    }
                    error: function () {
                        ErrorMessage("", '');
                    }
                })
        });        
</script>
      
